/* Cores */
:root {
    --color-primary: #ff4500;
    --color-secondary: #ffa500;
    --color-dark: #1a1a1a;
    --color-dark2: #111111;
    --color-light: #f5f5f5;
    --color-gray: #999999;
    --color-success: #4caf50;
    --color-error: #f44336;

    /* Tipografia */
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 20px;
    --font-xl: 32px;

    /* Espaçamentos (modular) */
    --sp-1: 8px;
    --sp-2: 16px;
    --sp-3: 24px;
    --sp-4: 32px;
    --sp-5: 48px;
    --sp-6: 64px;
}
